body {
  background-color: black;
  animation: hue 60s infinite;
}
h1 {
  align-self: center;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-family: "Press Start 2P", monospace;
  text-align: center;
  margin-left: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  max-width: 40rem;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 4.8rem;
  background-image: linear-gradient(rgb(193, 18, 18), rgb(18, 18, 193));
  box-shadow: 5px 5px 5px black;

}
#video {
  margin: 5%;
}
@keyframes hue {
  from{filter:hue-rotate(0deg)}
  to{filter:hue-rotate(360deg)}
}
 #typing {
  text-align: center;


 section {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: black;


  box-shadow: 1px 5px 1px #000;

  padding-left: 7%;
  padding-right: 3%;
}
p {
  box-shadow: 1px 5px 1px #000;

  padding-left: 7%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

nav {
  text-transform:uppercase;
  letter-spacing:0.0343em;
  font-size:1.2em;
  background-color: #FFBB00;
  border: outset black;
  box-shadow: 1px 5px 1px #000;
  border-top-left-radius: 40rem;
  border-bottom-right-radius: 40rem;
  margin-left: 5%;
  margin-right: 5%;
}
a {
  text-decoration: none;
}
nav ul li {
  display:inline-block;
  margin-left:5%;

}
nav ul li a {
  letter-spacing:2px;
  color:#FFFFFF00;
  text-shadow: 1px 1px 2px #000000;
  -webkit-transition:color .2s ease;
  -o-transition:color .2s ease;
  transition:color .2s ease;

  position:relative;
  display:inline-block;

}
.effect ul li a:hover {
  color:#666666;
  transform: scale(1.2);

}
.effect ul li a:hover::after, .effect ul li a:hover::before {
  width:110%;
  left:0;
}
.effect ul li a::after, .effect ul li a::before {
  content:'';
  position:absolute;
  top: 70%;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 2.4rem;
  overflow:hidden;
  right:0;
  height:5px;
  width:0;
  -webkit-transition:width .3s cubic-bezier(4.29, 4.18, 4.26, 4.83);
  -o-transition:width .3s cubic-bezier(4.29, 4.18, 4.26, 4.83);
  transition:width .3s cubic-bezier(4.29, 4.18, 4.26, 4.83);
}
.effect ul li a::before {
  -webkit-transition:width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  -o-transition:width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  transition:width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  background:#FF0000;
}
.effect ul li a::after {
  -webkit-transition:width .3s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  -o-transition:width .3s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition:width .3s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background:#000000;
}
.effect ul li a.active:after {
  background-color:#FFFFFF;
  width:130%;
}
.effect ul li a.active:before {
  z-index:2;
}
a {
  text-decoration: none;
}
 }
 